@model List<ShopWeb.Data.Entities.CategoryEntity>
@{
    //Layout = "_LayoutDefault";
   
     
}

@section Styles {

}

<h1 class="text-center">Список категорій</h1>
<div class="container">
    <a href="@Url.Action("Create")" class="btn btn-success">Додати</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Фото</th>
                <th scope="col">Назва</th>
                <th scope="col">Дата створення</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                var image = string.IsNullOrEmpty(cat.Image) ? "select.png" : cat.Image;
                <tr>
                    <th scope="row">@cat.Id</th>
                    <td><img src="/images/@image" alt="Alternate Text" width="50"/></td>
                    <td>@cat.Name</td>
                    <td>@cat.DateCreated.ToString("dd MMMM yyyy hh:mm:ss")</td>
                    <td><a asp-action="Edit" asp-route-id="@cat.Id">Змінить</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>




